{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h1>Créer nouvel Article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('articles_list') }}">Retour</a>
{% endblock %}
